.siteName{
	padding-top: 0px;
	padding-right: 360px;
	padding-bottom: 0px;
	padding-left: 0px;
	color: #000000;
	font-family: arial;
	font-size: 30px;
}

.headNavTop {
	width: 1050px;
	padding-top: 20px;
	padding-right: 0px;
	padding-left: 30px;
	padding-bottom: 0px;
	border: none;
	margin-left:20px; 
}

nav{
	width: 1010px;
	height: 0px;
	padding-top: 40px;
	padding-right: 40px;
	padding-left: 30px;
	padding-bottom: 30px;
	border: none;
	margin: 0; 
	background-color: #eeeeee;
	color: black;
	margin: 0px 0px 0px 20px;
	font-family:arial;
	text-align: center;
	
}

nav a{
	background-color: #eeeeee;
	color: black;
	font-family:arial;
}

nav a:hover{
	background-color: #ffffff;
    color: black;
    font-family: arial;
}

nav a.selected{
	background-color: #ffffff;
    color: black;
    font-family: arial;
}

a {
	padding-top: 10px;
	padding-left: 3px;
	padding-bottom: 0px;
	color: black;
	font-family: arial;
	font-size: 9pt;
	display: inline-block;
	text-decoration: underline;
}

a:hover{
	color: #d3d3d3;
}

a.topNav:link{
    color: black;
    padding: 5px 15px;
	padding-bottom: 10px;
	padding-top: 5px;
    text-align: center;
    text-decoration: none;
	font-family: arial;
	font-size:10pt;
    display: inline-block;
}


a.squareLink {
	padding: 5px 0px 0px 10px;
	color: #000000;
	font-family: arial;
	font-size: 10pt;
	display: inline-block;
	margin: 0px 0px 3px 0px;
}

a.squareLink:before{
	content:"\2610";
	display: block;
	background: url("") no-repeat;
	width: 10px;
	height: 10px;
	float: left;
	margin: 0px 6px 3px 0px;

}


a.squareLink:hover{
	color: #d3d3d3;
}

a.squareLink:link{
	text-decoration: none;
	border-left: 10 px;
	color: black;
}


form{
	padding-left: 30px;
	padding-top: 10px;
	display: inline-block;
}

p.search{
	color: black;
	font-family: arial;
	font-size: 10pt;
	display: inline-block;
}
	


input[type=text]{
	
	width: 120px;
	padding: 1px 5px 0px 0px;
	border-bottom: 1px;
	border-top: 1px;
	border-left: 1px;
	border-right: 1px;
	border-style: solid;
	border-color: gray;
	display: inline-block;
}

input[type=submit]{
	
	width: 65px;
	margin: 0px 0px 0px 10px;
	padding: 2px 4px 2px 4px;
	border-bottom: none;
	border-top: none;
	border-left: none;
	border-right: none;
	border-style: none;
	border-color: black;
	background-color:#eeeeee;
	color:black;
	display: inline-block;
}

#main article{
	float:left;
	margin-left:20px;
	border-style: none;
	border-top: none;
	border-color: none;
	width:560px;
	padding: 0px 10px 0px 5px;
}

article section.mainContent{
	border-style: solid;
	border-color: #d3d3d3;
	border-top:none;
	border-right:none;
	border-left:none;
	border-bottom-width: 1px;
	padding-bottom:10px;
	font-family: arial;
	font-size: 10pt;
	padding: 10px 0px 10px 0px;
	color: gray;
	overflow:hidden;

}

article section.mainContent:last-child{
	border-style: none;
	padding-bottom:10px;
	font-family: arial;
	font-size: 10pt;
	padding: 10px 0px 10px 0px;
	color: gray;
	overflow:hidden;

}


article section.mainContent h2{
	font-family: arial;
	font-size: 12pt;
	color: white;
	background-color: black;
	display:inline-block;
	margin: 10px 0px 7px 0px;
	padding: 2px 10px 1px 3px;

}

article section.mainContent h3{
	font-family: arial;
	font-size: 10pt;
	color: black;
	font-weight: bold;
	margin: 0px 0px 7px 0px;
}

article section.mainContent h3 label[for=date]{
	color: grey;
	font-size: 10pt;
	font-weight: normal;

}

article section.mainContent  label[for=date]:before{
	color: grey;
	content:"|";
	margin: 0px 6px 0px 6px;
	
}


article section.mainContent h4{
	font-family: arial;
	font-size: 14pt;
	color: black;
	text-decoration: bold;
	margin: 0px 0px 7px 0px;
}

article section.mainContent label[for=Tags]{
	color: black;
	font-weight: bold;
	font-size: 9pt;

}

article section.mainContent label[for=Tags]:before{
	color: grey;
	content:"\27A4";
	background: url("") no-repeat;
	width: 10px;
	height:10px;
	margin: 0px 6px 0px 6px;
	
}

article section.mainContent h5{
	font-family: arial;
	font-size: 8pt;
	color: white;
	background-color: black;
	display:inline-block;
	margin: 10px 0px 7px 0px;
	padding: 2px 3px 1px 3px;
	text-transform:uppercase;

}

a.tagLink {
	padding-top: 10px;
	padding-left: 10px;
	color: #000000;
	font-family: arial;
	font-size: 10pt;
	display: inline-block;
	text-decoration: underline;
}

a.tagLink:hover {
	padding-top: 10px;
	padding-left: 10px;
	color: gray;
	font-family: arial;
	font-size: 10pt;
	display: inline-block;
	text-decoration: underline;
}

a.taglinks {
	padding-top: 10px;
	padding-left: 5px;
	color: black;
	font-family: arial;
	font-size: 9pt;
	display: inline-block;
	text-decoration: underline;
}

a.taglinks:hover {
	padding-top: 10px;
	padding-left: 5px;
	color: #000000;
	font-family: arial;
	font-size: 9pt;
	display: inline-block;
	text-decoration: underline;
}

#side aside{
	float:left;
	margin-left:5px;
	border-style: solid;
	border-width: 1px;
	border-top: none;
	border-bottom: none;
	border-color: #d3d3d3;
	width:250px;
	padding: 0px 0px 0px 0px;
	margin: 10px 0px 0px 0px;
}



aside section.video{
	background-color:  #eeeeee;
	padding: 0px 0px 7px 10px;
	margin: 0px 0px 7px 0px;
	border-bottom: 2px;
	border-top: 0px;
	border-left: 0px;
	border-right: 0px;
	border-color:#d3d3d3;
	border-style:solid;


}

aside section.video p{
	font-family: arial;
	font-size: 10pt;
	color: grey;
	display:inline-block;
	margin: 10px 0px 7px 0px;
	padding: 0px 0px 0px 8px;


}


aside section.video h2{
	font-family: arial;
	font-size: 12pt;
	color: white;
	background-color: black;
	display:inline-block;
	margin: 10px 0px 7px 5px;
	padding: 2px 10px 1px 3px;

}

aside section.video h3{
	font-family: arial;
	font-size: 12pt;
	color: black;
	margin: 10px 0px 0px 0px;
	padding: 0px 0px 0px 8px;
	line-height: 10px;


}



aside section.agenda h2{
	font-family: arial;
	font-size: 12pt;
	color: white;
	background-color: black;
	display:inline-block;
	margin: 5px 0px 10px 5px;
	padding: 2px 10px 1px 3px;

}

aside section.agenda h3{
	font-family: arial;
	font-size: 9pt;
	font-weight:bold;
	color: black;
	margin: 0px 0px 3px 0px;
	padding: 0px 0px 0px 0px;
	text-align:left;

}


aside section.agenda p{
	font-family: arial;
	font-size: 8pt;
	color: grey;
	margin: 0px 0px 3px 0px;
	padding: 0px 0px 0px 0px;

}


aside section.agenda {
	border-bottom: 2px;
	border-top: 0px;
	border-left: 0px;
	border-right: 0px;
	border-color:#d3d3d3;
	border-style:solid;
	margin: 8px 0px 7px 0px;
	padding: 0px 0px 0px 8px;
	text-align: relative;
}


table.myTable{
	border:none;
	margin: 0px 0px 10px 0px;
}

tr th {
    background-color: #cccccc;
    width:60px;

}

tr th h4{
	font-family: arial;
    color:black;
    font-size:24pt;
    font-weight:bold;
    margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	text-align:center;
	line-height:24px;
}

tr th h5{
	font-family: arial;
    color:black;
    font-size:10pt;
    font-weight:bold;
    margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	text-align:center;
}


tr td {
    background-color: #ffffff;
}

aside section.extraInfo h2{
	font-family: arial;
	font-size: 14pt;
	color: black;
	margin: 10px 0px 3px 5px;

}


aside section.extraInfo {
	border-bottom: 0px;
	border-top: 0px;
	border-left: 0px;
	border-right: 0px;
	border-color:#d3d3d3;
	border-style:solid;
	margin: 8px 0px 7px 0px;
	padding: 0px 0px 0px 8px;
	text-align: relative;


}

aside section.extraInfo p {
	font-family: arial;
	font-size: 10pt;
	color: grey;
	margin: 0px 0px 7px 3px;

}


aside section.extraInfo h3{
	font-family: arial;
	font-size: 10pt;
	color: black;
	margin: 0px 0px 3px 3px;

}

#right{
	float:left;
	margin-left:5px;
	border-style: solid;
	border-width: 0px;
	border-top: none;
	border-left:none;
	border-bottom: none;
	border-color: #d3d3d3;
	width:240px;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 10px 10px;


}

#right section.content3 h2{
	font-family: arial;
	font-size: 14pt;
	font-weight:bold;
	color: black;
	margin: 10px 0px 7px 8px;

}

#right section.content3 {
	font-family: arial;
	font-size: 14pt;
	font-weight:bold;
	color: black;
	border-top: 0px;
	border-left:0px;
	border-right:0px;
	border-bottom: 2px;
	border-style:solid;
	border-color: #d3d3d3;
	margin: 10px 0px 7px 0px;
	padding: 0px 0px 10px 0px;

}

#right section.content3block h4{
	font-family: arial;
	text-transform: uppercase;
	font-size: 14pt;
	font-weight:bold;
	color: black;
	margin: 10px 0px 7px 8px;
	word-spacing: 9999999px;

}

#right section.content3block {
	font-family: arial;
	font-size: 10pt;
	color: black;
	padding: 10px 10px 10px 8px;
	margin: 0px 0px 7px 0px;
	background-color:#eeeeee;

}




#footer {
 	position: relative;
 	margin-top: -180px; /* negative value of footer height */
  	height: 180px;
  	width:1080px;
  	clear:both;
	margin: 20px 0px 0px 20px;
	padding: 20px 0px 0px 0px;


}

footer{
	border-style: solid;
	border-color: gray;
	border-right:none;
	border-left:none;
	border-top-width: 4px;
	border-bottom:none;
	padding-bottom:10px;
	font-family: arial;
	font-size: 10pt;
	padding: 10px 0px 10px 0px;
	color: black;

}

#footer .footerNav{
	float:left;
	padding: 0px 0px 0px 6px;

}

#footer .footerNav h4{
	color:black;
	font-size:12pt;
	margin: 0px 0px 0px 10px;


}

a.decorLink {
	padding-top: 5px;
	padding-left: 10px;
	color: #000000;
	font-family: arial;
	font-size: 10pt;
	display: inline-block;
}

a.decorLink:hover {
	padding-top: 5px;
	padding-left: 10px;
	color: #f2f2f2;
	font-family: arial;
	font-size: 10pt;
	display: inline-block;
}

a.decorLink:before{
	content:"\2756";
	display: block;
	background: url("") no-repeat;
	width: 10px;
	height: 10px;
	float: left;
	margin: 2px 6px 0px 0px;

}
